<tr class="border-b rounded-2xl">
  <td class="text-2xl font-semibold p-6"><%= avatarize(leader.email_address) %></td>
  <td class="text-2xl p-6"><%= leader.total_counters %></td>
  <td class="text-2xl p-6"><%= leader.total_amount %></td>
</tr>