<tr class="border-b rounded-2xl">
  <td class="text-2xl font-semibold p-6 flex gap-4 items-center">
    <span class="text-4xl"><%= leader.avatar %></span>
    <span><%= avatarize(leader.email_address) %></span>
  </td>
  <td class="text-2xl p-6"><%= leader.total_counters %></td>
  <td class="text-2xl p-6"><%= leader.total_amount %></td>
</tr>