<% content_for :title, "Edit tally" %>

<h1 class="text-3xl font-semibold mb-6">Leaderboard</h1>

<div class="rounded-xxl overflow-clip">
  <table class="w-full text-sm text-left rtl:text-right">
    <thead class="text-xs text-gray-800 uppercase bg-gray-200">
      <tr>
        <th class="p-6 text-lg rounded-bl-xl rounded-tl-xl">Tallyoer</th>
        <th class="p-6 text-lg">Tallies</th>
        <th class="p-6 text-lg rounded-br-xl rounded-tr-xl">Tally +</th>
      </tr>
    </thead>
    <% @leaders.each do |leader| %>
      <%= render partial: "leaderboards/leader", locals: { leader: leader } %>
    <% end %>
  </table>
</div>