<% flash.each do |flash_type, message| %>

  <% if notice %>

    <div class="text-center notice items-center p-4 bg-green-700 text-white" role="alert" data-controller="removable">
      <%= notice %>
    </div>

  <% end %>

  <% if alert %>

    <div class="text-center notice items-center p-4 bg-red-700 text-white" role="alert" data-controller="removable">
      <%= alert %>
    </div>

  <% end %>

<% end %>
