<% content_for :title, "Edit tally" %>

<div class="mx-auto md:w-2/3 w-full border border-gray-300 rounded-xl p-8">
  <h1 class="font-bold text-4xl">Editing tally</h1>

  <%= render "form", counter: @counter %>

  <%= button_to "Delete", @counter, method: :delete, class: "button-soft mt-4", form_class: "contents", data: { turbo_confirm: "Are you sure you want to delete?" } %>
</div>
