<% content_for :title, "Dayswithout - My counters" %>

<%= turbo_stream_from @counters %>

<% if turbo_native_app? %>
  <div class="mb-6">
    <%= render "shared/nav" %>
  </div>
<% end %>

<div id="counters" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-2 md:gap-5">
  <%= render @counters %>
</div>
