  <% content_for :title, "Days with our without" %>

  <div id="counters" class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-5">
    <% @counters.each do |counter| %>
      <%= render counter %>
    <% end %>
  </div>
