  <% content_for :title, "Days with our without" %>

  <div class="flex justify-between items-center mb-6">
    <h1 class="font-bold text-4xl">Days with our without</h1>
    <%= link_to "New counter", new_counter_path, class: "rounded-lg py-3 px-5 bg-gray-800 text-white block font-medium" %>
  </div>

  <div id="counters" class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-5">
    <% @counters.each do |counter| %>
      <%= render counter %>
    <% end %>
  </div>
